
.svelte-wheel
	--svelte-wheel-size: 200px

	--svelte-wheel-text-color: rgba(255,255,255,.9)

	--svelte-wheel-color: rgba(92, 0, 184, .5)
	--svelte-wheel-color-hover: rgb(58, 0, 116)
	--svelte-wheel-color-odd: rgb(109, 0, 218)
	--svelte-wheel-color-odd-hover: rgb(58, 0, 116)
	--svelte-wheel-color-even: rgb(92, 0, 184)
	--svelte-wheel-color-even-hover: rgb(58, 0, 116)

	--svelte-wheel-close-size: 50px
	--svelte-wheel-close-color: rgb(135,14,255)

	--svelte-wheel-color-4: red
	--svelte-wheel-color-4-hover: yellow